<div class="footer wrapper">
	<nav class="nav">
		<div><a href="https://github.com/hadisinaee/avicenna">Modified Avicenna Theme</a> | Built with <a href="https://gohugo.io">Hugo</a></div>
	</nav>
</div>

{{ template "_internal/google_analytics_async.html" . }}
{{- with .Site.Params.Social -}}
<script>
	feather.replace()

</script>
{{- end -}}
