<div class="header">
	<img src={{ "profile.jpg" | absURL }} class="profile_image">
	<h1 class="site-title">{{ .Site.Title }}</h1>
	<div class="site-affilation">
		<span class="affilation">
			{{- range $index, $key := .Site.Params.affilation -}}
			<ul class="flat">
				<li class="position">{{$key.position}}, {{$key.name}}</li>
				<li class="email">{{ $key.contact}}</li>
			</ul>
			{{- end -}}
		</span>
		<!--
      {{- if isset .Site.Params "subtitle" -}}
      <h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
      {{- end -}}
    -->

		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
				<a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
				{{- end -}}
				{{ if or (.Site.Params.blog) (.Site.Params.cv_name) }}
				<!-- | -->
				{{- with .Site.Params.blog -}}
				<a href="{{ . }}" class="blog_cv">[blog]</a>
				{{- end -}}

				{{ with .Site.Params.cv_name }}
				<a href="{{ . }}" class="blog_cv">CV</a>
				{{ end }}
				{{ end }}
			</ul>
		</nav>
	</div>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li><a href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
</div>
