<div class="introduction">
	{{- range $index, $key := .Site.Params.Introduction.paragraph -}}
	<span>
		{{ $key.text  | markdownify }}
	</span>
	<br>
	{{- end -}}
	<span>
		<b>Interests: </b> {{ $.Site.Params.interests | markdownify }}
	</span>
</div>
