<div class="introduction">
	{{ with .Site.Params.projects }}
	<h4>Projects</h4>
	<ul>
		{{- range $index, $projects_map := $.Site.Params.projects -}}

		{{ range $elem_index, $project := $projects_map.project }}
		<li>
			<a href="{{ $project.project_page }}" class="project"> {{ $project.name }}</a>

			{{ if or ($project.code_link) ($project.blog_link) }}
			<span class="code_blog">
				{{ with $project.code_link }}
				[<a href="{{ . }}">code</a>]
				{{ end }}

				{{ with $project.blog_link }}
				[<a href="{{ . }}">blog</a>]
				{{ end }}
			</span>
			{{ end }}

			{{ with $project.description }}
			<span class="project_description">
				{{ . | markdownify}}
			</span>
			{{ end }}

			{{ if ($project.youtube_link) }}
				{{ with $project.youtube_link }}
				<br>
				<span class="project_description">
				<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
					<iframe src="{{ . }}" style="position: absolute; top: 0; left: 0; width: 90%; height: 90%; border:0;" allowfullscreen title="YouTube Video"></iframe>
				</div>
				</span>
				{{ end }}
			{{ end }}

			{{ if ($project.image) }}
				<span class="project_description">
				<div style="position: relative; width: 100%;  height: auto;"></div>
					<img src={{ $project.image | absURL }}>
				</div>
				</span>

			{{ end }}


		</li>
		{{ end }}

		{{- end -}}
	</ul>
	{{ end }}
</div>
