<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}

	<body>
		<div class="container wrapper">
			{{ partial "head.html" . }}
			{{ partial "introduction.html" . }}
			{{ partial "projects.html" . }}
			<!-- {{ partial "publications.html" . }} -->
		</div>
		</div>
		{{ partial "footer.html" . }}
	</body>

</html>
